/* Общие стили */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

.container {
  width: 80%;
  margin: 0 auto;
}

/* Шапка */
header {
  background-color: #333;
  color: white;
  padding: 20px 0;
}

header h1 {
  font-size: 2rem;
  text-align: center;
}

nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
}

nav ul li a:hover {
  text-decoration: underline;
}

/* Стиль для фильтра и сортировки */
.filter {
  padding: 20px 0;
  background-color: #f4f4f4;
  text-align: center;
}

.filter h2 {
  margin-bottom: 20px;
}

.filter form {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.filter select,
.filter button {
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ddd;
  font-size: 1rem;
}

/* Стиль для карточек товаров */
.product-list {
  padding: 20px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.products {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.product-card {
  position: relative;
  overflow: hidden; /* Ensures the image doesn't overflow the card */
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  width: calc(25% - 20px); /* Adjust based on your layout */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s ease; /* Smooth transition for the card */
}

.product-card img {
  width: 100%; /* Ensure the image fills the container */
  height: 300px; /* Fixed height for consistency */
  object-fit: cover; /* Ensures the image covers the area without distortion */
  border-radius: 8px;
  transition: transform 0.3s ease; /* Smooth transition for the image */
}

.product-card:hover {
  transform: scale(1.05); /* Slightly scale up the entire card */
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.product-card:hover img {
  transform: scale(1.1); /* Scale up the image more than the card */
}

.product-card h3 {
  font-size: 18px;
  margin: 10px 0;
}

.product-card .price {
  font-size: 16px;
  color: #333;
  font-weight: bold;
}

.product-card .btn, button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #ff6f61;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 10px;
}

.product-card .btn:hover, button:hover{
  background-color: #ff4a3d;
}

/* Стиль для пагинации */
.pagination {
  text-align: center;
  padding: 20px 0;
}

.pagination .page {
  padding: 10px 15px;
  margin: 0 5px;
  border: 1px solid #ddd;
  border-radius: 4px;
  color: #333;
  text-decoration: none;
}

.pagination .page:hover {
  background-color: #ff6f61;
  color: white;
}

li#li_greeting {
  color: rgb(51, 160, 51);
  font-weight: bold;
}